<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Tambah Dokter</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="justify-content-center">
            <h2>Tambah Dokter Baru</h2>
            <br>
            <form th:action="@{/users/doctors/add}" th:objects="${user}" method="POST">

                <input type="hidden" name="role" value="Dokter">

                <label>Username</label>
                <input type="text" name="username" class="form-control" required>

                <label>Nama</label>
                <input type="text" name="nama" class="form-control" required>

                <label>E-mail</label>
                <input type="text" name="email" class="form-control" required>

                <label>Password</label>
                <input type="password" name="password" class="form-control" required>

                <label>Tarif</label>
                <input type="number" name="tarif" class="form-control" required>

                <br><br>

                <div th:if="${userExists} == true" class="alert alert-danger" role="alert">
                    Username sudah digunakan
                </div>

                <div th:if="${validUsername} == false" class="alert alert-danger" role="alert">
                    Username harus 6 - 30 karakter, boleh mengandung huruf, angka, dan underscore saja
                </div>

                <div th:if="${validName} == false" class="alert alert-danger" role="alert">
                    Nama minimal memiliki 2 karakter dan alfabetik
                </div>

                <div th:if="${validEmail} == false" class="alert alert-danger" role="alert">
                    Email tidak valid
                </div>

                <div th:if="${validPassword} == false" class="alert alert-danger" role="alert">
                    Password minimal 8 karakter alfanumerik, mengandung uppercase dan lowercase, dan karakter spesial
                </div>

                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
                <a class="btn btn-link" href="/">Home</a>




            </form>

        </div>

    </div>

</div>

</body>
</html>