<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manajemen User</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="m-4">
                <h2 style="text-align: center">Manajemen User</h2>
                <br>
                <div class="d-flex justify-content-center">
                    <a th:href="@{/users/pasien}" class="mx-2 btn btn-primary">Daftar Pasien</a>
                    <a th:href="@{/users/doctors}" class="mx-2 btn btn-primary">Daftar Dokter</a>
                    <a th:href="@{/users/apoteker}" class="mx-2 btn btn-outline-primary">Daftar Apoteker</a>
                </div>


            </div>
        </div>
    </div>
</div>
</body>
</html>