<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Daftar Dokter</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <a class="btn btn-outline-primary" th:href="@{/users}">Kembali</a>
                <br>
                <h2 style="text-align: center" >Daftar Dokter</h2>
                <br>
                <table class="table">
                    <thead>
                    <th>No</th>
                    <th>Nama</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Tarif</th>
                    <th>Aksi</th>
                    </thead>
                    <tbody>
                    <tr th:each="dokter, iterationStatus : ${listDokter}">
                        <td th:text="${iterationStatus.count}"></td>
                        <td th:text="${dokter.user.nama}"></td>
                        <td th:text="${dokter.user.username}"></td>
                        <td th:text="${dokter.user.email}"></td>
                        <td th:text="${dokter.tarif}"></td>
                        <td>
                            <a class="btn btn-danger" th:href="@{/users/doctors/delete/} + ${dokter.user.uuid}">Hapus</a>
                        </td>
                    </tbody>
                </table>
                <br>

            </div>
        </div>
    </div>
</div>

</body>
</html>