<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Appointment</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>

<div class="container">
    <div class="card m-4 p-4 shadow p-3 mb-5 bg-white rounded">
        <div class="card-body">
            <div class="justify-content-center">
                <h3>Appointment baru dengan kode<span style="font-weight: bold" th:text="' ' + ${kodeAppointment} + ' '"></span>berhasil ditambahkan.</h3>
                <a class="btn back btn-warning" href="/appointment">Kembali</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>