<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail Appointment</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>

<div class="container">
    <div class="card m-4 p-4 shadow p-3 mb-5 bg-white rounded">
        <div class="card-body">
            <div class="justify-content-center">
<!--                <form th:action="@{/appointment/} + ${appointment.id}" method="post">-->
<!--                    <div class="row">-->
<!--                        <div class="col">-->
<!--                            <h2>Detail Appointment</h2>-->
<!--                        </div>-->
<!--                        <div class="col" th:if="${role == 'Apoteker'} and ${resep.isDone == false}">-->
<!--                            <div class="float-right">-->
<!--                                <button type="submit" class="btn btn-success">Konfirmasi</button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <br>-->
<!--                    <div class="row">-->
<!--                        <div class="col">-->
<!--                            <b><p th:text="'ID: ' + ${resep.id}"></p></b>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <br>-->
<!--                    <div class="row">-->
<!--                        <div class="col">-->
<!--                            <p><b>Dokter</b></p>-->
<!--                        </div>-->
<!--                        <div class="col">-->
<!--                            <p><b>Pasien</b></p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="row">-->
<!--                        <div class="col">-->
<!--                            <p th:text="${resep.kodeAppointment.dokter.user.nama}"></p>-->

<!--                        </div>-->
<!--                        <div class="col">-->
<!--                            <p th:text="${resep.kodeAppointment.pasien.user.nama}"></p>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <br>-->
<!--                    <div class="row">-->
<!--                        <div class="col">-->
<!--                            <p><b>Status</b></p>-->
<!--                        </div>-->
<!--                        <div class="col" th:if="${resep.confirmerUuid != null}">-->
<!--                            <p><b>Apoteker</b></p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="row">-->
<!--                        <div class="col">-->
<!--                            <p th:if="${resep.isDone == true}">Selesai</p>-->
<!--                            <p th:unless="${resep.isDone == true}">Belum Selesai</p>-->

<!--                        </div>-->
<!--                        <div class="col" th:if="${resep.confirmerUuid != null}">-->
<!--                            <p th:text="${resep.confirmerUuid.user.nama}"></p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <br>-->
<!--                    <a class="btn btn-primary" th:href="@{/}">Back</a>-->
<!--                </form>-->
            </div>
        </div>
    </div>
</div>

</body>
</html>