<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail Appointment</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>

<div class="container">
    <div class="card m-4 p-4 shadow p-3 mb-5 bg-white rounded">
        <div class="card-body">
            <div class="alert alert-danger" role="alert" th:text="${gagal}" th:if="${gagal}"></div>
            <div class="justify-content-center">
                <form th:action="@{/appointment/} + ${appointment.id}" method="post">
                    <div class="row">
                        <div class="col">
                            <h2>Detail Appointment</h2>
                        </div>
                        <div class="col" th:if="${role == 'Dokter'}">
                            <div class="float-right">
                                <button type="submit" class="btn btn-success">Selesai</button>
                            </div>
                        </div>
                    </div>

                    <br>
                    <div class="row">
                        <div class="col">
                            <b><p th:text="'ID: ' + ${appointment.id}"></p></b>
                        </div>
                    </div>

<!--                    <br>-->
<!--                    <div th:switch="${appointment.isDone}">-->
<!--                        <td th:case="true" th:text="'Selesai'" style="color: green" class="font-weight-bold"></td>-->
<!--                        <td th:case="false" th:text="'Belum Selesai'" style="color: red" class="font-weight-bold"></td>-->
<!--                    </div>-->

                    <br>
                    <div class="row">
                        <div class="col">
                            <p><b>Dokter</b></p>
                        </div>
                        <div class="col">
                            <p><b>Pasien</b></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p th:text="${appointment.dokter.user.nama}"></p>

                        </div>
                        <div class="col">
                            <p th:text="${appointment.pasien.user.nama}"></p>
                        </div>
                    </div>

                    <br>
                    <td>
                        <a class="btn btn-warning" th:href="@{/resep/} + ${appointment.resep.id}" th:if="${appointment.resep != null}">Detail Resep</a>
                        <a class="btn btn-warning" th:href="@{/resep/}" th:if="${appointment.resep == null}">Create Resep</a>
                    </td>
                    <td>
                        <a class="btn btn-primary" th:href="@{/}">Back</a>
                    </td>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>