<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
  <div>

  </div>
  <div class="container-fluid text-center">
    <br>
    <h1 class="mb-3 text-primary">Rumah Sehat</h1>
    <br>

    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="card border-primary">
          <div class="card-header border-primary bg-primary">
            <p style="margin: 0" class="text-white">Log In</p>
          </div>
          <div class="card-body border-primary">
            <div th:if="${param.error}">
              <span style="color:red">Invalid username and password</span>
            </div>
            <br>
            <form th:action="@{/login}" method="POST">
              <div>
                <div class="row form-group">
                  <label class="col-sm-4 text-primary">Username:</label>
                  <input type="text" class="col-sm-8 form-control input-sm border-primary" name="username">
                </div>
                <div class="row form-group">
                  <label class="col-sm-4 text-primary">Password:</label>
                  <input type="password" class="col-sm-8 form-control input-sm border-primary" name="password">
                </div>
              </div>

              <div class="row form-group justify-content-center">
                <button type="submit" class="btn btn-primary">Sign In</button>
              </div>
              <div class="row form-group justify-content-center">

                <a th:href="@{/login-sso}" class="btn btn-outline-primary">Masuk sebagai Admin (SSO UI)</a>
              </div>

            </form>
          </div>

        </div>

      </div>

    </div>

  </div>

</body>
</html>