<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <meta charset="UTF-8">
        <title>Rumah Sehat</title>
        <head th:fragment="css">
            <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
        </head>
        <head th:fragment="js">
            <script
                    src="https://code.jquery.com/jquery-3.4.1.min.js"
                    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFIBw8HfCJo="
                    crossorigin="anonymous"
            ></script>
            <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
            <script th:src="@{/js/bootstrap.min.js}"></script>
        </head>
    </head>
    <body>
        <nav sec:authorize="!hasAuthority('Pasien')" th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand font-weight-bold text-primary" href="/">RumahSehat</a>
            <button
                    class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li sec:authorize="hasAuthority('Admin')" class="nav-item">
                        <a class="nav-link" th:href="@{/users}">Manajemen User</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/appointment">Appointment</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/daftar-resep">Resep</a>
                    </li>
                    <li class="nav-item">
                        <a sec:authorize="hasAnyAuthority('Admin', 'Apoteker')" class="nav-link" th:href="@{/obat/viewall}">Obat</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAnyAuthority('Admin')">
                        <a class="nav-link" th:href="@{/chart}">Chart</a>
                    </li>
                </ul>


                <ul class="navbar-nav pull-right">
                    <a class="nav-item nav-link text-text-secondary" th:href="@{/logout-sso}">Logout</a>
                </ul>
            </div>
        </nav>

        <div th:fragment="user-basic-data">
            <label>Username</label>
            <input type="text" name="username" class="form-control" required>

            <label>Nama</label>
            <input type="text" name="nama" class="form-control" required>

            <label>E-mail</label>
            <input type="text" name="email" class="form-control" required>

            <label>Password</label>
            <input type="password" name="password" class="form-control" required>
        </div>

        <div th:fragment="user-validation">
            <br><br>

            <div th:if="${userExists} == true" class="alert alert-danger" role="alert">
                Username sudah digunakan
            </div>

            <div th:if="${validUsername} == false" class="alert alert-danger" role="alert">
                Username harus 6 - 30 karakter, boleh mengandung huruf, angka, dan underscore saja
            </div>

            <div th:if="${validName} == false" class="alert alert-danger" role="alert">
                Nama minimal memiliki 2 karakter dan alfabetik
            </div>

            <div th:if="${validEmail} == false" class="alert alert-danger" role="alert">
                Email tidak valid
            </div>

            <div th:if="${validPassword} == false" class="alert alert-danger" role="alert">
                Password minimal 8 karakter alfanumerik, mengandung uppercase dan lowercase, dan karakter spesial
            </div>
        </div>

    </body>
</html>